@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
.b-tracker-admin {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 800px;
  margin: 25px auto;
}
.b-tracker-admin__row {
  margin-bottom: 25px;
}
.md-datepicker-calendar-pane {
  z-index: 1050 !important;
}
.md-select-menu-container {
        z-index: 1050;
}